@import "src/styles.scss";

.default-bgcolor {
    background: $global-bg-gray;
}

.active-bgcolor {
    background-color: rgba($global-border-blue, 50%);
}

.key-container{
    max-width: 16.2rem;
    margin: .666rem 1rem 0 1rem;
    padding: 0 .333rem .666rem;
    color: $global-fc-white;
    background: $global-bg-gray;
    border-radius: .333rem;
    border: 1px solid $global-border-blue;
    align-self: flex-start;
    .key-item {
        border-radius: 5px;
        border: 1px solid $global-border-blue;
        margin-top: 1.266rem;
        font-weight: 200;
        white-space: nowrap;
        padding-right: 1rem;
        .key-text{
            position: relative;
            z-index: 2;
            margin-left: 1rem;
        }
        &:hover {
            box-shadow: 0 0 8px rgba($global-border-blue, 0.5);
        }
        &:first-child {
            margin-top: 0.8rem;
        }
    }
    .disabled{
        cursor: not-allowed;
    }
    &:last-child {
        margin-bottom: 0;
    }
} 

.fun-container {
    width: 20rem;
    margin: .666rem 1rem 0 0;
    padding: 0 .333rem .666rem;
    color: $global-fc-white;
    background: $global-bg-black;
    border-radius: .333rem;
    border: 1px solid $global-border-blue;
    & > .fun-content {
        & > .fun-item {
            color: $global-border-blue;
            margin-top: .5rem;
            
            & > .fun-select {
                margin-top: 0.2rem;
                margin-bottom: 0.666rem;
                display: flex; 
            }
            & > button {
                width: 100%;
                display: flex;
                border: 1px solid #00FFFD;
                border-radius: .333rem;
                padding: 0 .333rem;
                margin-top: 0.2rem;
                margin-bottom: 0.666rem;
                color: #fff;
                background-color: transparent;
                &:hover {
                    box-shadow: 0 0 8px rgba($global-border-blue, 0.5);
                }
            }
            .icon_hint {
                margin-right: 0.666rem ;
            }
        }
    }
    
}
.nested-container {
    & > .keyboard-content {
        position: relative;
        top: 67.6%;
    }
    & > .game-content {
        position: relative;
        top: 77%;
    }
}

.active-bgfun ::ng-deep .g-select-box{
    background-color: rgba($global-border-blue, 50%);
}

.icon-reset-bule {
    margin-right: .5rem;
    margin-top: 0.1rem;
}