<div class="game-content">
	<div class="g-flex g-justify-between g-item-center">
		<div class="game-title g-flex g-item-center">
			<span class="icon_square"></span>
			{{ 'mouse.key.7' | translate}}
		</div>
		<div class="sumit-btn" (click)="submit()">
			<span>{{ 'common.save' | translate }}</span>
		</div>
	</div>
	<div class="frequency-content">
		<div class="game-select g-flex g-item-center g-justify-between" >
			<g-select
				class="game-type-select"
				[ngClass]="{ 'game-active-select': keyType }"
				[(ngModel)]="keyType" 
				[gCenter]="false"
			>
				<g-option 
					*ngFor="let option of mouseBtnGame" 
					[gLabel]="'mouse.' + option.key" 
					[gValue]="option.value">
				</g-option>
			</g-select>
			<span>{{ 'common.key' | translate }}</span>
			<g-select
				*ngIf="keyType === mouseBtnGame[0].value" 
				class="game-key-select"
				[ngClass]="{ 'game-active-select': currentSelectKey }"
				[(ngModel)]="currentSelectKey" 
				[gCenter]="false" 
				(ngModelChange)="setKey($event)"
			>
				<g-option
					 *ngFor="let option of mouseCodes " 
					[gLabel]="'mouse.key_game.' + option.name" 
					[gValue]="option.code"
				>	
				</g-option>
			</g-select>
			<div #inputKey class="key-wrapper" *ngIf="keyType === mouseBtnGame[1].value" >
					<input 
						type="text"
						readonly
						[(ngModel)]="keyData.name"
						(focus)="listenKey(true)"
						(blur)="listenKey(false)"
						placeholder="{{ 'mouse.key_game.key_input_single_key' | translate }}"
					>
			</div>
		</div>
		<div class="game-input g-flex g-item-center g-justify-between">
			<span>{{ 'mouse.key_game.count' | translate }}</span>
			<input
				type="text"
				[(ngModel)]="count"
				(keydown)="validateInput($event)" 
				(input)="countChange($event)"
			/>
			<span>{{ 'mouse.key_game.rate' | translate }}</span>
			<div>
				<input
					type="text"
					[(ngModel)]="rate"
					(keydown)="validateInput($event)" 
					(input)="rateChange($event)"
				/>
				<span>ms</span>
			</div>
			
		</div>
	</div>
		
</div>
