@import "src/styles.scss";
.dpi-container {
    width: 45rem;
    margin: .6rem 0 .6rem 1rem;
    padding: 0 .666rem .333rem .2rem;
    color: $global-white;
    background: $global-bg-gray;
    border: 1px solid $global-border-blue;
    border-radius: .333rem;

    & > .dpi-title {
        margin-top: .333rem;
        .icon_hint {
            margin-left: .666rem;
        }
    }

    & > .dpi-os {
        display: flex;
        margin-top: .4rem;
        & > .os-left {
            width: 25%;
            & > .os-item {
                display: flex;
                margin-bottom: 1rem;
                &:last-child {
                    margin: 0;
                }
                & > .item-left {
                    width: 1.333rem;
                    height: 1.333rem;
                    border-radius: 5px;
                    margin-right: .2rem;
                    cursor: pointer;
                    border: 1px solid $global-border-gray;
                    transition: height 0.3s ease-in-out;
                }

                & > .item-right {
                    width: 5.4rem;
                    height: 1.333rem;
                    line-height: 1.15rem;
                    border-radius: 5px;
                    padding-left: .8rem;
                    border: 1px solid $global-border-gray;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    z-index: 2;
                    &:hover {
                        border: 1px solid $global-border-blue;
                        box-shadow: 0 0 8px rgba($global-border-blue, 0.5);
                    }
                    input {
                        background: transparent;
                        border: none;
                        width: 3.5rem;
                        outline: none;
                        -moz-appearance: textfield;
                        -webkit-appearance: none;
                        appearance: none;
                        &::-webkit-inner-spin-button, 
                        ::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .os-right {
            width: 100%;
            & > .scale-content {
                width: 100%;
                height: 7.6rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                transition: height 0.3s ease-in-out;
                & > .scale-slider-box {
                    width: 100%;
                    height: 6rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > .dpi-slider  {
                        width: 100%;
                    }
                }
            }
            & > .scale-bottom {
                width: 100%;
                display: flex;
                position: relative;
                & > .submit-btn {
                    width: auto;
                    padding: 0 1rem;
                    height: 1.4rem;
                    line-height: 1.3rem;
                    border-radius: .333rem;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    cursor: pointer;
                    border: 1px solid $global-border-gray;
                    &:hover {
                        border: 1px solid $global-border-blue;
                        box-shadow: 0 0 8px rgba($global-border-blue, 0.5);
                    }
                }
                
            }
           
            .text-levelCount {
                line-height: 1.2rem;
                margin-right: .333rem;
            }
        }
    }
    & > .dpixy-os {
        & > .os-left {
            & > .os-item {
                & > .item-left,.item-right {
                    height: 2.666rem;
                    transition: height 0.3s ease-in-out;
                }
            }
        }
        .os-right {
            & > .scale-content {
                height: 14.3rem;
                transition: height 0.3s ease-in-out;
            }
        }
    }
}

.report-container {
    width: 45rem;
    margin: .6rem 0 .6rem 1rem;
    padding: 0 .666rem .333rem .2rem;
    color: $global-white;
    background: $global-bg-gray;
    border: 1px solid $global-border-blue;
    border-radius: .333rem;

    & > .report-title {
        margin-top: .333rem;
        .icon_hint {
            margin-left: .666rem;
        }
    }

    .report-os { 
        margin-top: 1.1rem;
        flex-wrap: wrap;
        & > .os-item {
            display: flex;
            margin: 0 2.333rem 1.333rem 0;
            &:nth-last-child(-n+3) {
                margin-bottom: .666rem;
            }
            & > .item-left {
                width: 1.333rem;
                height: 1.333rem;
                border-radius: 5px;
                margin-right: .2rem;
                cursor: pointer;
                border: 1px solid $global-border-gray;
                
            }

            & > .item-right {
                width: 5.4rem;
                height: 1.333rem;
                line-height: 1.15rem;
                border-radius: 5px;
                border: 1px solid $global-border-gray;
                padding-left: .8rem;
                cursor: pointer;
                display: flex;
                z-index: 2;
                &:hover {
                    border: 1px solid $global-border-blue;
                    box-shadow: 0 0 8px rgba($global-border-blue, 0.5);
                }
            } 
        }
    } 
   
}

.active-bgcolor {
    background-color: rgba($global-border-blue, 50%);
    border: 1px solid $global-border-blue !important; 
}

.dpi-select ::ng-deep .g-select{
    height: 1.5rem;
    font-size: .9rem;
    .g-select-box{
        height: 1.4rem !important;
        line-height: 1.3rem;
        background-color: #0b0b0b;
        border: 1px solid $global-border-gray;
        padding-left: 1rem;
        & > .arrow {
            top: 45%;
            right: 8%;
        }
        &:hover {
            border: 1px solid $global-border-blue;
        }
    }
    .g-option {
        padding-left: 1rem;
    }
} 