<div class="connect-wrapper">
	<div class='keymap-unconnected' *ngIf="!currentDevice">
		<div class="loading" *ngIf="loading">
			<nz-spin nzSimple></nz-spin>
			<div>{{ 'connecting' | translate}}</div>
		</div>
		<div class="keymap-unconnected-wrapper" (click)="choseDevice()">
			<span>{{  'device_add' | translate }}</span>
			<span nz-icon nzType="plus" nzTheme="outline"></span>
		</div>
	</div>
</div>

<div class="device-connected g-flex g-item-center g-justify-between" *ngIf="currentDevice">
	<div class="g-flex g-item-center">
		<div class="battery-container">
			<div class="battery-level" [style.width]="power === 100 ? 'calc(100% - 2px)' : (power + '%')">
				<span style="color: #173b3b" nz-icon nzType="thunderbolt" nzTheme="outline" *ngIf="powerState === 1" ></span>
			</div>
		</div>
		<div class="">{{powerState === 2 ? ('common.battery_fully_charged' | translate )  : powerState === 1 ? ('common.battery_charging' | translate ) : (power+"%")}}</div>
	</div>
	<div class="g-flex g-item-center">
		<span class="icon_square"></span>
		<div class="connect-type">{{(workMode === 0 ? 'USB' : workMode === 1 ? '2.4Ghz' : 'BT') + ('common.connection' | translate)}} </div>
	</div>
</div>
<div class="mask g-flex g-item-center g-justify-center g-flex-col" *ngIf="hibernate && currentDevice">
	<h1>{{"notify.fr_not_connect_mouse" | translate}}</h1>
	<button (click)="choseDevice()">{{"firmware.button.1" | translate}}</button>
</div>