<div class="connect-wrapper">
	<div class='keymap-unconnected' *ngIf="!currentDevice">
		<div class="loading" *ngIf="loading">
			<nz-spin nzSimple></nz-spin>
			<div>{{ 'connecting' | translate}}</div>
		</div>
		<div class="keymap-unconnected-wrapper" (click)="choseDevice()">
			<span>{{  'device_add' | translate }}</span>
			<span nz-icon nzType="plus" nzTheme="outline"></span>
		</div>
	</div>
</div>

<div class="device-connected g-flex g-item-center g-justify-between" *ngIf="currentDevice">
	<div class="g-flex g-item-center">
		<div class="battery-container">
			<div class="battery-level" [style.width]="power === 100 ? 'calc(100% - 2px)' : (power + '%')"></div>
		</div>
		<div class="">{{powerState === 2 ? '充满电'  : powerState === 1 ? '充电中' : (power+"%")}}</div>
	</div>
	<div class="g-flex g-item-center">
		<span class="icon_square"></span>
		<div class="connect-type">{{workMode === 0 ? 'USB连接' : workMode === 2 ? '2.4Ghz连接' : 'BT连接' | translate}} </div>
	</div>
</div>
<ng-template #template let-notification>
	<div class="ant-notification-notice-content">
		<div>
			<div class="ant-notification-notice-message">
				{{ 'firmware.info.4' | translate }}
			</div>
			<div class="ant-notification-notice-description">
				<div>{{ 'firmware.info.3' | translate }}</div>
				<div style="margin-top: 16px;color: #ee724b">
					<span>{{ 'firmware.info.7' | translate }}:</span>
					<span>{{ version }}</span>
				</div>
			</div>
			<span class="ant-notification-notice-btn">
            <div style="cursor: pointer;color: #007cf9" (click)="notification.close()">
              <span>
	              {{ 'common.cancel' | translate}}
              </span>
            </div>
          </span>
		</div>
	</div>
</ng-template>
