<div class="update" >
	<div class="update-wrapper">
		<div class="loading-wrapper" *ngIf="loading">
			<nz-spin nzSimple></nz-spin>
		</div>

		<div class="content-wrapper" *ngIf="step === 0 && device">
			<div class="content-block">
				<div>
					<span>{{ 'firmware.info.6' | translate }}:</span>
					<span>{{ firmwareInfo.productName }}</span>
				</div>
				<div>
					<span>{{ 'firmware.info.5' | translate }}:</span>
					<span>{{ version }}</span>
				</div>
			</div>

			<div class="content-block">
				<div>
					<span>{{ 'firmware.info.7' | translate }}:</span>
					<span>{{ firmwareInfo.lastedVersion }}</span>
				</div>
				<div>
					<span>{{ 'firmware.info.8' | translate }}:</span>
					<span>{{ firmwareInfo.lastedCreateTime | date:"YYYY-MM-dd" }}</span>
				</div>
				<div *ngIf="firmwareInfo.desc" class="description">
					<span>{{ 'firmware.description' | translate }}:</span>
					<span [innerText]="firmwareInfo.desc ">
					</span>
				</div>
			</div>
			<div class="content-desc">{{'firmware.mouse.upgrade_mode_warning1' | translate }}</div>
			<div class="content-desc">{{'firmware.mouse.upgrade_mode_warning2' | translate }}</div>
			<div class="content-btn-group">
				<div class="btn" (click)="nextStep()">
					{{ "firmware.button.2" | translate }}
				</div>
			</div>
		</div>
		<div class="content-wrapper" *ngIf="step === 1">
			<div class="content-text">
			  	{{ 'firmware.tips.1'  | translate }}
			</div>
			<div class="content-button" (click)="connect()">
			  	{{ 'device_add' | translate }}
			</div>
			<div style="padding: 3rem 0 0 17rem;">
				<div class="content-text">
					{{ 'firmware.mouse.unable_to_connect' | translate }}
				</div>
				
				<div class="content-desc">
					{{ 'firmware.mouse.step1_hid_device' | translate }}
				</div>
				<div class="content-desc">
					{{ 'firmware.mouse.step2_hid_device' | translate }}
				</div>
				<div class="content-desc">
					{{ 'firmware.mouse.step3_hid_device' | translate }}
				</div>
			</div>
		  </div>
	</div>
</div>

<div class="loading" *ngIf="waiting">
	<div class="loading-body">
		<nz-progress
				class="upload-rate"
				*ngIf="percent"
				[nzPercent]="percent"
				[nzShowInfo]="false"
		></nz-progress>

		<div class='warning'>
			{{ 'firmware.warning' | translate }}
		</div>
	</div>
</div>
